:root {
  --text-font: #6f6f6f;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.sidebar {
  flex-direction: column;
  background-color: #f4f4f4;
  width: 20%;
  display: flex;
}

.sidebar-contents {
  list-style-type: none;
  margin-top: 20px;
}

.sidebar-contents li {
  padding: 3px;
  padding-left: 25px;
}

.sidebar-contents a{
  color: var(--text-font);
  font-size: 30px;
  text-decoration: none;
}

.card-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  height: 400px;
  border: 1px solid rgb(195, 194, 194);
  border-radius: 5px;
  margin-top: 1.5em;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:10px;
}

.img-container {
  background-color: #e6e6e6;
  width: 100%;
  height: 50%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  color: var(--text-font);
  font-size: 22px;
}

.types {
  display: flex;
  gap: 5px;
  align-items: center;
}

.type {
  display: flex;
  padding: 3px;
  font-size: 16px;
  color: white;
  justify-content: center;
  background-color: #e6e6e6;
  border-radius: 3px;
}

.stats {
  border-collapse: collapse;
  color: #6e6e6e;
}

.stats td {
  padding: 3px;

}

.stats tr:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

.data {
  font-weight: 700;
}

.right-align {
  text-align: right;
  color: #747474;
}

.poison {
  background-color: mediumpurple;
}

.grass {
  background-color: mediumseagreen;
}